@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
a,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  height: 100%;
  font-size: 100%;
}
body {
  position: relative;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Osaka, Helvetica, Arial, sans-serif;
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
  color: #222;
  font-size: 80%;
  height: 100%;
}
a {
  color: #ffb300;
  text-decoration: none;
}
a:active,
a:hover {
  color: #ffb300;
  text-decoration: underline;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}
input,
textarea {
  margin: 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
header {
  display: block;
}
img {
  vertical-align: bottom;
}


/* helper */
.media-float .media-left {
  float: left; margin-right: 15px;
}
.media-float .media-left > img {
  display: block;
}
.media-float .media-right {
  float: right; margin-right: 15px;
}
.media-float .media-right > img {
  display: block;
}
.media-float .media-other {
  overflow: hidden;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.tac {
  text-align: center;
}




/* ━━━ */
.c-section {
  padding: 5px;
  color: #fff;
}
.c-section > div {
  padding: 24px 16px;
  border: 2px solid #fff;
  text-align: center;
  font-weight: normal;
}
.c-section h1 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
}
.c-section p {
  font-size: 12px;
}
.c-section .c-lead {
  text-align: left;
}

.p-section-ssr {
  background: #5353c9;
}

.p-section-jsr {
  background: #d74f4f;
}























